*.asv
*.m~
srsRAN/build/
srsRAN_1/build/
srsRAN_2/build/
.vscode/
srsRAN/lib/src/phy/mimo/theta_null.txt
srsRAN/srsenb/src/phy/lte/theta_null.txt
pwr_measure_all_angles
pwr_measure_all_angles_45right
timestamps.txt
timestamps_45right.txt
gr_scripts/rx0.iq
gr_scripts/rx1.iq
diff_*.txt
derive_alpha.m
# y1 and y2 as received form srsenb
y1.txt
y2.txt
boxplot_100alphas.jpg
y1y2_for_100TTIs/
measurements/
sinr_brate_bler.txt
